@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
.no-scrollbar {
  @apply overflow-hidden; /* Hide overflow */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
