@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom utility class to hide scrollbar
.no-scrollbar {
  @apply overflow-auto; 
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
} */
